html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    animation: colorShift 20s ease-in-out infinite;
    font-size: 1.2em;
    color: rgb(7, 1, 41);
}

/* Color Gradient Object for the background animation */
:root {
    --color-1: linear-gradient(110deg, #3b048e, #4e12a8, #0a75bd, #0398fb, #00e5ff, #c1ef6c, #ffea00, #fdc200);
    --color-5: linear-gradient(110deg, #3f0492, #5216ac, #0a79c1, #0398fb, #00e5ff, #c1ef6c, #ffea10, #fbc706);
    --color-10: linear-gradient(110deg, #400499, #571bb1, #0a7ec6, #09F, #00e5ff, #c1ef6c, #ffea22, #fcc709);
    --color-15: linear-gradient(110deg, #3b048e, #5c20b6, #0a83cb, #09F, #00e5ff, #c1ef6c, #ffea35, #fcc709);
    --color-20: linear-gradient(110deg, #3b048e, #6125bb, #0a88d0, #09F, #00e5ff, #c1ef6c, #ffea47, #fcc709);
}

@keyframes colorShift {
    0% {
        background: var(--color-1);
        background-size: 200% 200%;
        background-position: 0% 0%;
    }
    25% {
        background: var(--color-5);
        background-size: 200% 200%;
        background-position: 100% 0%;
    }
    50% {
        background: var(--color-10);
        background-size: 200% 200%;
        background-position: 100% 100%;
    }
    75% {
        background: var(--color-15);
        background-size: 200% 200%;
        background-position: 0% 100%;
    }
    100% {
        background: var(--color-20);
        background-size: 200% 200%;
        background-position: 0% 0%;
    }
}

